body {
    font-family: 'EB Garamond';
    margin: 0;
}

#page-header {
    position: sticky;
    top: 0;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 10px 10px #fff;
    z-index: 1;
}

#site-title {
    font-size: 2.5rem;
}

#top-nav {
    display: flex;
    font-size: 1.5rem;
    padding: 0;
    list-style: none;
    margin: 0;
}

.top-nav-button {
    font-family: 'EB Garamond';
    font-size: 1.5rem;
    border: solid 1px;
    background-color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
}

.top-nav-button:hover {
    background-color: #000;
    color: #fff;
}

#top-nav-spacer {
    flex-grow: 1;
}

#search input {
    width: 200px;
    height: 43px;
    font-family: 'EB Garamond';
    font-size: 1rem;
    padding: 10px;
    border: solid 1px #888;
    margin-right: 10px;
}

#search button::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 38px;
}

#search button {
    width: 50px;
    height: 43px;
    font-family: 'EB Garamond';
    font-size: 1.5rem;
    vertical-align: top;
    background-color: #fff;
    border: solid 1px #000;
}

#search button:hover {
    color: #fff;
    background-color: #000;
}

#article-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.2rem;
}

#article-nav ul {
    list-style: none;
    padding-left: 20px;
    font-size: 1rem;
}

aside {
    width: 20vw;
    height: calc(100vh - 110px);
    overflow: scroll;
    display: inline-block;
    vertical-align: top;
    position: sticky;
    top: 106px;
    margin: 0 10px;
    padding: 15px 10px 0 0;
}

aside a {
    color: #666;
    text-decoration: none;
}

aside a:hover {
    color: #aaa;
}

article {
    width: calc(80vw - 40px);
    height: calc(100vh - 110px);
    overflow: scroll;
    display: inline-block;
    vertical-align: top;
    position: sticky;
    top: 106px;
    scroll-behavior: smooth;
    padding-top: 10px;
}

article h1, article h2, article h3 {
    margin: 0;
    font-weight: 400;
}

article h1 {
    font-size: 5rem;
    margin-top: -21px;
}

article h2 {
    font-size: 2.5rem;
    text-align: center;
}

article h3 {
    font-size: 1.5rem;
}

article a {
    color: #00a;
}

article a:hover {
    color: #aac;
}